body{
    display: flexbox;
    background-image: linear-gradient(to right top, #000000, #121212, #1d1d1d, #282828, #343434, #343434, #343434, #343434, #282828, #1d1d1d, #121212, #000000);
    font-family: "Rackmon Demo", sans-serif;
}