nav{
    .logoo {
        position: relative;
        width: 150px;
    }
    .navbar-nav{
        flex: 1;
        display: flex;
        justify-content: space-evenly;
        font-size: 1.8rem;
        .nav-link{
            &:hover{
        background-image: linear-gradient(to right, #e0e0e0, #d3d3d3, #c6c6c6, #bababa, #adadad, #ababab, #aaa9a9, #a8a7a7, #b0afb0, #b8b8b8, #c1c0c1, #c9c9c9);
        transition: all .4s ease;
        border-radius: 40px 70px;
    }
}
}
}